# Environments
.env

# Virtual Environment
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/

# Output / Test Artifacts
api_results.md
